{% extends "::base.html.twig" %}

{% block title %}AppBundle:Order:index{% endblock %}

{% block body %}
<h1>Welcome to the Order:index page</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>nazwa</th>
            <th>color</th>
            <th>wysokość</th>
            <th>ilość</th>
            <th>operacje</th>
            <th>usuń</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.height }}</td>
            <td>{{ product.quantity }}</td>
            <td><a href="" class="btn btn-success" role="button">Zmien ilość</a></td>
            <td><a href="{{ path('remove_from_order', {'id': product.id}) }}" class="btn btn-danger" role="button">Usuń</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        <a href="{{ path('clear_order') }}" class="btn btn-danger" role="button">Wyczyść zamówienie</a>
        <a href="{{ path('clear_order') }}" class="btn btn-warning" role="button">Zapisz</a>
        <a href="{{ path('clear_order') }}" class="btn btn-success" role="button">Zapisz i Wyślij</a>
{% endblock %}
